.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#titleArea {
  width: auto;
  height: 100px;
  background: #66D58B;
}

#title {
  font-family: 'Inter';
  font-style: normal;
  font-size: 30px;
  color: #FFFFFF;
}

#createThread {
  font-family: 'Inter';
  font-style: normal;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

#threadArea{
  display: flex;
  flex-flow: column;
}
#threadTitle{
  font-size: 30px;
  margin: 10px auto;
}
.thread{
  width: 250px;
  background-color: white;
  border: solid;
  padding: 10px;
  align-items: center;
  margin: 1px auto;
  border-radius: 10px;
}
.thread:hover{
  background-color: antiquewhite;
}